{% form 'product', product, class: 'product__form' %}

<div class="product__variants">
  {%- if product.variants.size > 1 -%}
  {%- assign show_variants_selectors = true -%}
  {% elsif product.has_only_default_variant == false and section.settings.hide_variants_if_only_one == false %}
  {%- assign show_variants_selectors = true -%}
  {%- else -%}
  {%- assign show_variants_selectors = false -%}
  {%- endif -%}


  {%- if show_variants_selectors -%}
  {%- for option in product.options_with_values -%}      


  <!-- //////////////////////// -->

  <div class="product-title-in-form">
    <h5 class="product-type-in-form">{{product.type}}</h5>
    <h2>{{product.title}}</h2>

  </div>    

  <!-- //////////////////////// -->






  <!-- //////////////////////// -->
  {%- if section.settings.show_extra_options -%}
  <div class="product__extra-options">       


    {% for t in product.tags  %}

    {% if t contains 'Wireless' %}

    {% if product.metafields.global.anotherConnectionProductLink  %}  
    <div class="product__wireless only-border">
      <img class="hifi-icon" src="{{ 'Icon_Hifi.svg' | asset_url }}" alt="HiFi" itemprop="HiFi">
      <span>HiFi Wired</span>
      <a href="{{ product.metafields.global.anotherConnectionProductLink }}" style="height: 30px;">
        <img class="checked-icon" src="{{ 'Circle_-_black_simple.svg' | asset_url }}" alt="HiFi" itemprop="HiFi">
      </a>                
    </div>   
    {% endif %}

    <div class="product__wireless only-border">
      <img class="checked-icon" src="{{ 'Checked.png' | asset_url }}" alt="Wireless" itemprop="wireless">
      <span>Wireless</span>
      <img class="wireless-icon" src="{{ 'Icon_Wireless.svg' | asset_url }}" alt="Wireless" itemprop="wireless">
    </div> 


    {% elsif t contains 'HiFi' %}  

    <div class="product__hifi only-border">
      <img class="hifi-icon" src="{{ 'Icon_Hifi.svg' | asset_url }}" alt="HiFi" itemprop="HiFi">
      <span>HiFi Wired</span>
      <img class="no-checked-icon" src="{{ 'Checked.png' | asset_url }}" alt="HiFi" itemprop="HiFi">
    </div>    

    {% if product.metafields.global.anotherConnectionProductLink  %}          

    <div class="product__wireless only-border">
      <a href="{{ product.metafields.global.anotherConnectionProductLink }}" style="height: 30px;">
        <img class="checked-icon" src="{{ 'Circle_-_black_simple.svg' | asset_url }}" alt="Wireless" itemprop="wireless">
      </a>
      <span>Wireless</span>
      <img class="wireless-icon" src="{{ 'Icon_Wireless.svg' | asset_url }}" alt="Wireless" itemprop="wireless">
    </div>   
    {% endif %}


    {% endif %}

    {% endfor %}

  </div>
  {%- endif -%}
  <!-- //////////////////////// -->



  <div class="form__control">

    {% comment %}
    <label for="single-option-selector-{{ forloop.index0 }}" class="form__label">{{ option.name }}</label>
    {% endcomment %}

    {%- assign color_label = 'color,colour,couleur,colore,farbe,색,色,färg,farve' -%}
    {%- assign size_label = 'size,taille,bröße,tamanho,tamaño,koko,サイズ' -%}

    {%- assign downcase_option = option.name | downcase -%}



    {%- if section.settings.show_color_swatch and color_label contains downcase_option -%}
    <ul class="product__available-colors list--unstyled" data-selector-type="color">
      {%- for value in option.values -%}
      {%- include 'variant-option-properties', value: value -%}

      {%- assign downcase_value = value | downcase -%}
      {%- assign color_swatch_white = false -%}

      {%- if 'white,blanc,blanco,白,weiß,vit,branco' contains downcase_value -%}
      {%- assign color_swatch_white = true -%}
      {%- endif -%}

      <li class="product__color {% unless allow_variant_selection %}product__color--unavailable{% endunless %}" title="{{ value }}">
        <input id="{{ product.id }}-color-swatch-{{ forloop.index0 }}" {% unless allow_variant_selection %}disabled{% endunless %} class="single-option-selector" name="single-option-selector-{{ forloop.parentloop.index0 }}" data-option-index="option{{ forloop.parentloop.index }}" type="radio" {% if option.selected_value == value %}checked="checked"{% endif %} value="{{ value | escape }}">
        <label {% if allow_variant_selection %}tabindex="0"{% endif %} class="color-swatch {% if color_swatch_white %}color-swatch--white{% endif %}" for="{{ product.id }}-color-swatch-{{ forloop.index0 }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.png' | asset_url }})"></label>
        {%- include 'icon' with 'tick' -%}
      </li>
      {%- endfor -%}
      <span id="product__color-name"></span>
    </ul>
    {%- elsif section.settings.show_size_swatch and size_label contains downcase_option -%}
    <ul class="product__available-sizes list--unstyled" data-selector-type="size">
      {%- for value in option.values -%}
      {%- include 'variant-option-properties', value: value -%}

      <li class="product__size {% unless allow_variant_selection %}product__size--unavailable{% endunless %}">
        <input id="{{ product.id }}-{{ downcase_option | escape }}-{{ forloop.index0 }}" {% unless allow_variant_selection %}disabled{% endunless %} type="radio" class="single-option-selector" name="single-option-selector-{{ forloop.parentloop.index0 }}" data-option-index="option{{ forloop.parentloop.index }}" {% if option.selected_value == value %}checked="checked"{% endif %} value="{{ value | escape }}">
        <label {% if allow_variant_selection %}tabindex="0"{% endif %} for="{{ product.id }}-{{ downcase_option | escape }}-{{ forloop.index0 }}" class="product__size-label">{{ value }}</label>
      </li>
      {%- endfor -%}
    </ul>
    {%- else -%}


    <div class="styled-select styled-select--secondary">
      <!-- {%- include 'icon' with 'dropdown-arrow' -%} -->
      <select class="single-option-selector" id="single-option-selector-{{ forloop.index0 }}" data-option-index="option{{ forloop.index }}" data-selector-type="select">                
        {%- for value in option.values -%}
        {%- include 'variant-option-properties', value: value -%}
        <option value="{{ value | escape }}" 
                {% unless allow_variant_selection %}disabled{% endunless %} 
                {% if option.selected_value == value %}selected="selected"{% endif %}>{{ value }}
        </option>
        {%- endfor -%}
      </select>
    </div>


    {%- endif -%}
  </div>
  {%- endfor -%}

  <!--<div class="form__control hidden-lap-and-up">
    <label class="form__label">{{ 'product.form.price' | t }}</label>

    <div class="product__prices">
      {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
      <span class="product__price product__price--new h4" data-money-convertible>{{ product.selected_or_first_available_variant.price | money }}</span>
<span class="product__price product__price--old h4" data-money-convertible>{{ product.selected_or_first_available_variant.compare_at_price | money }}</span>
      {%- else -%}
      <span class="product__price h4" data-money-convertible>{{ product.selected_or_first_available_variant.price | money }}</span>
      {%- endif -%}
    </div>
  </div>-->

  <div class="no-js form__control">
    <label for="product-select-{{ product.id }}" class="form__label">{{ 'product.form.variant_label' | t }}</label>

    <div class="styled-select styled-select--secondary">
      {%- include 'icon' with 'dropdown-arrow' -%}

      <select id="product-select-{{ product.id }}" name="id">
        {%- for variant in product.variants -%}
        <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
        {%- endfor -%}
      </select>
    </div>
  </div>
  {%- else -%}
  <input type="hidden" name="id" data-sku="{{ product.selected_or_first_available_variant.sku }}" value="{{ product.selected_or_first_available_variant.id }}">
  {%- endif -%}
</div>



<div class="product-delivery-equipment">
  {%- if product.metafields.global.delivery != blank -%}
  <div class="product-delivery-icon">
    <img src="{{ 'Icon_Delivery.svg' | asset_url }}" alt="">
    <span>{{ product.metafields.global.delivery | escape }}</span> 
  </div>
  {%- endif -%}


  {%- if product.metafields.global.equipment != blank -%}
  <div class="product-equipment-icon">
    <img src="{{ 'Icon_Boxes.svg' | asset_url }}" alt="">
    <span>{{ product.metafields.global.equipment | escape }}</span>  
  </div>
  {%- endif -%}  
</div>





<div class="d-flex">
  {%- if section.settings.show_quantity_selector -%}
  <div class="form__control">
    <!-- <label class="form__label">
{{ 'product.form.quantity' | t }}
</label> -->

    <div class="quantity-selector only-border" >
      <a href="#" data-action="decrease-product-quantity" title="{{ 'product.form.decrease_quantity' | t }}">{%- include 'icon' with 'minus' -%}</a>
      <span class="quantity-selector__current-quantity">1</span>
      <a href="#" data-action="increase-product-quantity" title="{{ 'product.form.increase_quantity' | t }}">{%- include 'icon' with 'plus' -%}</a>
    </div>
  </div>
  {%- endif -%}



  <input type="hidden" name="quantity" value="1">

  <div class="product__payment-container">
    {%- if product.selected_or_first_available_variant.available -%}
    <button type="submit" class="product__add-to-cart button button--primary">
      {%- if product.template_suffix == 'pre-order' -%}
      <!-- {{- 'product.form.pre_order' | t -}} -->


      {{ product.price | money }}  

      <i class="fa fa-product-price fa-arrow-right" aria-hidden="true"></i>
      {%- else -%}
      <!-- {{- 'product.form.add_to_cart' | t -}} -->
      <!-- {{ cart.currency.symbol }} -->
      {{ product.price | money }}  
      <i class="fa fa-product-price fa-arrow-right" aria-hidden="true"></i>
      {%- endif -%}
    </button>
    {%- else -%}
    <button type="submit" class="product__add-to-cart button button--secondary" disabled="disabled">{{ 'product.form.sold_out' | t }}</button>
    {%- endif -%}

    {%- if section.settings.show_payment_button -%}
    {{ form | payment_button }}
    {%- endif -%}
    {%- if product.compare_at_price -%}
    <span class="compare_price">{{ product.selected_or_first_available_variant.compare_at_price | money }}  </span>
    {%- endif -%}
  </div>
</div>



<div class="metaDescription" id="metaDescription">
  <div class="mw-content-text" >
    {{ product.metafields.global.metaDescription }}
  </div>
  <a class='leer' style='cursor:pointer;color:tomato;font-size:16px;'>Read more <i class='fas fa-chevron-down'></i></a>
</div>






{%- if section.settings.show_payment_button and product.selected_or_first_available_variant.available == false -%}
<style>
  #shopify-section-{{ section.id }} .shopify-payment-button {
    display: none;
  }
</style>
{%- endif -%}
{%- endform -%}


